@import '~antd/dist/antd.css';

.ant-layout-header .logo {
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-layout-header .title {
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0 28px 0 0;
  float: left;
}

.ant-layout-header .timestamp {
  color: rgba(255, 255, 255, 0.65);
  margin-right: 12px;
  float: right;
}


.dwm-core, .dwm-overview, .dwm-jvm, .dwm-requests, .dwm-log {
    margin-top: 16px;
}

.dwm-overview span {
    font-weight: bold;
    display: block;
}

.ant-card-extra span {
    font-weight: bold;
}

.ant-card-extra span:not(:first-child) {
    margin-left: 10px;
}

.dwm-jvm .ant-card-grid .ant-card-extra {
    max-width: 73%;
    white-space: nowrap;
    overflow: hidden;
}

.dwm-jvm .ant-card-grid .ant-card-body,
.dwm-requests .ant-card-grid .ant-card-body,
.dwm-log .ant-card-grid .ant-card-body {
    font-size: 12px;
    padding: 18px 8px 0 0;
}
