@import '~antd/dist/antd.min.css';

.ant-layout-header {
    .logo {
        height: 31px;
        margin: 16px 24px 16px 0;
        float: left;
    }

    .title {
        color: #fff;
        font-size: 1.4em;
        font-weight: bold;
        margin: 0 28px 0 0;
        float: left;
    }

    .timestamp {
        color: rgba(255, 255, 255, 0.65);
        margin-right: 12px;
        float: right;
    }
}

.dwm-core, .dwm-overview, .dwm-jvm, .dwm-requests, .dwm-log {
    margin-top: 16px;
}

.dwm-overview span {
    font-weight: bold;
    display: block;
}

.ant-card-extra span {
    font-weight: bold;

    &:not(:first-child) {
        margin-left: 10px;
    }
}

.dwm-jvm .ant-card-grid .ant-card-extra {
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;

    div {
        display: inline;
        font-size: 10px;
        margin-left: 10px;

        span:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.dwm-jvm .ant-card-grid .ant-card-body,
.dwm-requests .ant-card-grid .ant-card-body,
.dwm-log .ant-card-grid .ant-card-body {
    font-size: 12px;
    padding: 18px 8px 0 0;
}
